html {
    scroll-behavior: smooth; /*Makes the scrolling smooth for side nav*/
}

main {
    display: flex;
}

a {
    color: black;
}

#members-page-title {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background: #500000;

}

#members-page-title h1 {
    font-size: 3rem;
    font-family: "Oswald";
    font-weight: 400;
    text-align: center;
    color: white;
}




.member-roles-container {
    display: flex;
    flex-direction: column;
}

.member-roles-container h2, .previous-members h2 {
    text-align: center;
    font-family: "Oswald";
    font-weight: 400;
    font-size: 2rem;
}

.member-container {
    display: flex;
    gap: 5rem;
    padding: 1rem 4rem;

}

.member-container h3 {
    text-align: left;
    font-size: 1.5rem;
    font-family: "Oswald";
    font-weight: 350;
    padding-bottom: 0.5rem;
}

@media (max-width: 800px) {
    .member-container {
        flex-direction: column;
        gap: 1rem;
    }
}

.figure-and-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.figure-and-links a {
    color: #500000
}

.figure-and-links a:hover {
    text-decoration: none;
}

.member-pfp {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.previous-members {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.previous-members-types {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-evenly;
}

.previous-members-types section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.previous-members-types ul {
    list-style-type: none;
    text-align: center;;
}
