/*Reset default body margin and padding*/
body {
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: white;
}

.header-bar {
    display: flex;
    position: relative;
    align-items: center;
    height: 5rem;
    width: 100vw; /*100% of wiewport*/
    margin: 0;
    padding: 0;

    border: 2px solid blue
}

.nav-left, .banner, .nav-right {
    flex: 1; /*Makes each take up 1/3 of the width*/
    display: flex; /*Makes inner contents flex*/
    align-items: center;
    height: 100%;
}

.nav-left, .nav-right {
    margin: 0;
    padding: 0;

    list-style: none; /*Rmove bullet points from li*/
    display: flex; /*1D row layout*/

    align-items: stretch;
}

.nav-left li, .nav-right li {
    margin: 0;
    flex: 1; /*Makes each li take up an even portion of container width*/
    display: flex; /*For link*/
    align-items: center;
    height: 100%;
}

.nav-left li a, .nav-right li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    color: black;
    text-decoration: none;

    border: 2px solid purple;
}


.banner {
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 2rem;
    font-size: 1.5rem;
    font-weight: 700;

    text-align: center;
    text-decoration: none;
    color: black;
}

/*Hide the button by default */
.nav-toggle {
    position: relative;
    z-index: 1000; /*Place the button above all else*/
}

.mobile-header {
    position: relative;
    display: none;
    align-items: center;
    height: 5rem;
    width: 100vw; /*100% of wiewport*/
    margin: 0;
    padding: 0;

    border: 2px solid blue
}

/*Mobile side bar for navigation*/
.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100vh;
    z-index: 10000;

    background: #500000;

    display: flex;
    flex-direction: column;



    transform: translateX(-100%);
    transition: transform 0.3s ease;

    border: 2px solid red;
}

/*Bring the sidebar out when active (button clicked)*/
.nav-mobile.active {
    transform: translateX(0);
}

/*Close button for mobile sidebar*/
.close-mobile-nav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-right: 0 1rem 1rem 0;
    background: none;
    border: none;

    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1;
    padding: 0;

    z-index: 20000;

    cursor: pointer;

    border: 2px solid yellow
}

/*Mobile nav links*/
.nav-mobile ul {
    list-style: none;
    margin: 2rem 5rem 0 0;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

.nav-mobile li a {
    display: block;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
}

@media (max-width: 800px) {
    .header-bar {
        display: none;
    }

    .mobile-header {
        display: flex;
    }
}
